<div class="inset-0">
  <video width="100%" autoplay loop playsinline>
    <source src="/Big_Buck_Bunny_720_10s_1MB.webm" type="video/webm" />
    <source src="/Big_Buck_Bunny_720_10s_1MB.mp4" type="video/mp4" />
  </video>
</div>
