---
import { Icon } from "astro-icon/components";
---

<button
  id="go-to-top-button"
  class="font-medium rounded-full p-4 text-center border border-inherit hover:bg-offset fixed bottom-6 right-6 hidden"
>
  <Icon class="size-full" name="mdi:arrow-up" />
</button>

<script>
  const goToTopButton = document.getElementById("go-to-top-button")!;

  goToTopButton.addEventListener("click", () => {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });

  window.addEventListener("scroll", () => {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      goToTopButton.classList.remove("hidden");
    } else {
      goToTopButton.classList.add("hidden");
    }
  });
</script>
