---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="intro">
  <div class="mx-auto max-w-6xl">
    <article class="prose flex max-w-full flex-col dark:prose-invert lg:block">
      <header><h2 class="mt-0">In business since 1978</h2></header>
      <p>
        The makers of traditional Russian kvass and other natural beverages:
        beer, light ready-to-drink cocktails, juices, wines, lemonades, mineral
        water and hard liquor. No. 1 Russian kvass producer and the only major
        kvass maker to rely on traditional kvass brewing technology. We ship our
        products to 30+ countries, including the US, Canada, China, Germany,
        Greece, Spain, Vietnam, Japan, and others. The company operates 10
        plants, factories and farms, including breweries and soft-drink
        bottlers, a malting plant, a winery, and vineyards and farms. Combined
        annual capacity of 285 million DAL. We produce beverages in 10
        categories under more than 30 brands. 19,000 hectares (47,000 acres) of
        crop fields and vineyards. We grow our own malting grains and wine
        grapes. Secure access to high-grade ingredients gives our consumers
        consistent quality of beverages. Key brands. We make Russia’s most
        popular Kvass Ochakovskiy, Kvasyenok, a kvass for the little ones, and
        village-style white Semeimyi Sekret (Family Secret) Kvass. Our beers
        include our flagship brands Ochakovo and Yachmenyi Kolos (Barley Spike),
        Khalzan light ale, Stolichnoye that continues the best of Soviet
        traditions, Zlatovice based on a Czech recipe, Ledokol (Icebreaker)
        stout, and others. We make premixed classic Gin-Tonic, clubbing favorite
        Mojito, and Ochakovskaya, a standard Russian vodka. We make wines out of
        13 grape varieties from Cabernet to Viorika. We have just made a splash
        in a new business line: mixed juices and nectars: our premium Goodini,
        satisfyingly nutritious MachoGazpacho, and JuiceTeam designed for teens
        and young adults.
      </p>
    </article>
  </div>
</ContentSection>
