---
import ContentSection from "~/components/content-section.astro";

export interface Props {
  heading: string;
  children: string;
}

const { heading, children } = Astro.props;
---

<ContentSection id="intro">
  <div class="mx-auto max-w-6xl">
    <article class="prose flex max-w-full flex-col dark:prose-invert lg:block">
      <header><h2 class="mt-0">{heading}</h2></header>
      <p>
        {children}
      </p>
    </article>
  </div>
</ContentSection>
