---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Introduction" id="intro">
  <div
    class="mx-auto flex max-w-6xl flex-col gap-4 lg:flex-row lg:justify-between"
  >
    <p class="lg:basis-1/2 lg:pr-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus
      dictum ex, sed finibus ligula efficitur vel. Aliquam sapien massa, aliquet
      sed dignissim id, <span class="font-bold text-primary">fermentum</span> quis
      velit. Integer non ante non lectus lobortis sollicitudin a non quam. Nulla
      facilisi. Sed pretium orci a molestie dapibus. In faucibus ex lobortis sapien
      egestas blandit.
      <span class="font-bold text-primary">Suspendisse</span> enim nulla, aliquet
      sit amet magna at, ultrices suscipit eros. Pellentesque porttitor imperdiet
      nisl, ut mattis libero sollicitudin in.
    </p>
    <iframe
      class="aspect-video w-full lg:basis-1/2"
      src="https://www.youtube.com/embed/tzXGb18G1TQ"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</ContentSection>
