<div class="mx-auto my-4 flex w-full justify-center md:w-3/4">
  <iframe
    class="aspect-video w-full"
    src="https://www.youtube-nocookie.com/embed/6x2LMFzeXRs?autoplay=1&loop=1&playsinline=1&rel=0&mute=1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
