---
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrlList, getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale ?? "en";
const currentLocaleUrl = getRelativeLocaleUrl(currentLocale);
---

<button
  id="languageButton"
  data-dropdown-toggle="dropdown"
  class="inline-flex scale-100 items-center transition-all"
  type="button"
  ><Icon name="mdi:language" />
  <svg
    class="ms-3 h-2.5 w-2.5"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown"
  class="z-10 hidden divide-y divide-gray-100 rounded-lg bg-white shadow dark:bg-gray-700"
>
  <ul
    class="py-2 uppercase text-gray-700 text-sm dark:text-gray-200"
    aria-labelledby="languageButton"
  >
    {
      getRelativeLocaleUrlList().map((url) => {
        if (url === currentLocaleUrl)
          return (
            <li>
              <a
                href={getRelativeLocaleUrl(currentLocale)}
                class="block bg-gray-100 px-4 py-2 dark:bg-gray-600 dark:text-white"
                aria-current="page"
              >
                {currentLocale}
              </a>
            </li>
          );

        return (
          <li>
            <a
              href={url}
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >
              {url.split("/")[1] || "en"}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
