---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ProductCard from "~/components/product-card.astro";

const products = await getCollection("products");
---

<ContentSection title="Products" id="products">
  <div class="max-w-6xl space-y-2">
    <div role="tablist" class="tabs tabs-bordered">
      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Beer"
        checked
      />
      <div
        role="tabpanel"
        class="tab-content grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
      >
        {
          products
            .filter(({ id }) => id.startsWith("beer"))
            .map((product) => <ProductCard product={product} />)
        }
      </div>
    </div>
    <div role="tablist" class="tabs tabs-bordered">
      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Juice"
      />
      <div
        role="tabpanel"
        class="tab-content grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
      >
        {
          products
            .filter(({ id }) => id.startsWith("juice"))
            .map((product) => <ProductCard product={product} />)
        }
      </div>
    </div>
    <div role="tablist" class="tabs tabs-bordered">
      <input
        type="radio"
        name="beverages"
        role="tab"
        class="tab"
        aria-label="Mojito"
      />
      <div
        role="tabpanel"
        class="tab-content grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
      >
        {
          products
            .filter(({ id }) => id.startsWith("mojito"))
            .map((product) => <ProductCard product={product} />)
        }
      </div>
    </div>
  </div>
</ContentSection>
